.err{
    font-size: 10px;
    color: red;
}
.img2{
    background-image: url('../../Asserts/banking.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -90px;
    width:100%;
    background-attachment: fixed;
}


.b3{
    display:inline-block;
    width: 350px;
    height: 400px;
    padding: 30px;
    background-color: rgba(0,0,0,0.5);
    background-size: 400px 480px;   
    margin-top:30px;
    position: relative;
     } 
     label{
       font-size: large;
        color: white;
        margin-left: 30px;
    }
    input{
        margin-left: 60px;
    }
    .heading{
        color: white;
        font-size: 30px;
    }
    .btn-primary{
        width:100px;
        height: 50px;
        border-radius: 15px;
    }
    