.err{
    font-size: 10px;
    color: red;
}
.img2{
    background-image: url('../../Asserts/banking.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    width:100%;
    background-attachment: fixed;
    overflow-x: hidden; 
}

.b4{
    display:inline-block;
    width: 700px;
    height:440px;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    background-size: 400px 480px;   
    margin-left:170px;
    position: relative;
     } 
     .b5{
        display:inline-block;
        width: 200px;
        height: 120px;
        padding: 50px;
        background-color: rgba(0,0,0,0.5);
        margin-left:210px;    
        margin-top: -20px;
        position: relative;
         } 
     label{
       font-size: large;
        color: white;
        margin-left: 30px;
    }
    .heading{
        color: white;
        font-size: 30px;
    }
    .btn1{
        height:50px;
    width:100px;
    margin-top: -20px;
    border-radius: 25px;
    }
    .dis{
        display:none;
    }
    .dis1{
        display:block;
    }

    .container {
        width: 500px;
        clear: both;
      }
      
      .container input {
        width: 100%;
        clear: both;
      }