.err1{
    font-size: 15px;
    color: red;
}

.img1{
    background-image: url('../../Asserts/Images/banking.jpg');
    height: 865px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -90px;
    width:100%;
    background-attachment: fixed;
}
.btn-primary{
    width:100px;
    height: 50px;
    border-radius: 15px;
}
.b1{
    display:inline-block;
    width: 600px;
    height: 750px;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    background-size: 400px 480px;   
    margin-top:100px;
    position: relative;
     } 
     label{
       font-size: large;
        color: white;
    }
    input{
        height:50px;
        width:100px;
    }
    select{
        font: inherit;
    }
    .heading{
        color: white;
        font-size: 30px;
    }
